<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./assets/logo.png" width="100" height="50"> </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/blog">Blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/list">User List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/reactive-forms">Reactive Forms</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink="/template-forms"> Template forms</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/for"> For Loop</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/parent/childa">Nested Route</a>
            </li>




        </ul>

    </div>
</nav>