<p>I am in list-user Component!</p>
<!-- <img [src]="itemImageUrl"> -->

<input #phone placeholder="phone number" />
<!-- lots of other elements -->
<!-- phone refers to the input element; pass its `value` to an event handler -->
<button (click)="callPhone(phone.value)">Call</button>

<div class="list">
    {{childRecivedData}}
    <LT-user 
    [userInfo]="'Ram'" 
    [userAddress]="addesss" 
    (userNameChanged)="getUpdateName($event)"
    ></LT-user> // .html file
    

    
    <!-- <ul>
        <li *ngFor="let user of userList">      
        </li>
    </ul> -->
</div>

p -> c 
